@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
